body {
  font: 13px Helvetica, Arial;
}

/* Navigation Menu Bar styles ------------------------------- */
ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

/* form styles ------------------------------- */
form {
	background: #000; 
	padding: 3px; 
	position: fixed; 
	bottom: 0; 
	width: 100%; 
}

form input { 
	border: 0; 
	padding: 10px; 
	width: 90%; 
	margin-right: .5%; 
}

form button { 
	width: 9%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px; 
}

#login {
	margin: 0px auto;
	
}

#login_form {
	
}

/* # styles ------------------------------- */
